.higgs-dialog
{
    position:fixed;
    top:50%;
    left:50%;
    border: 1px solid #CCC;
    margin-left:-100px;
    margin-top:-50px;
    color: #000;
    cursor: default;
    z-index:10000;
    -webkit-box-shadow: 0 0 7px rgba(150, 150, 150, 0.75); 
    -moz-box-shadow: 0 0 7px rgba(150, 150, 150, 0.75); 
    box-shadow: 0 0 7px rgba(150, 150, 150, 0.75);
}
.higgs-dialog-bg
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    z-index:9000;
}
.higgs-dialog .border,
.higgs-dialog .header
{
    display: none;
}
.higgs-dialog.loaded .header
{
    display: block;
    position: absolute;
    top: 10px;
    left: 14px;
    right: 14px;
    height: 22px;
    z-index: 1;
}
.higgs-dialog .header .button
{
    position:absolute;
    top:0;
    right:0;
    display:block;
    width:36px;
    height:22px;
    cursor:default;
}
.higgs-dialog .header .button span
{
    display:block;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 6px;
    background:url(higgs.dialog-lite.png) 0 0 no-repeat;
}
.higgs-dialog .header .button.close
{
    background-color: #bcbcbc;
}
.higgs-dialog .header .button.close span
{
    width:11px;
    height:9px;
    border:0;
    margin-left: 12px;
    background:url(higgs.dialog-lite.png) 0 0 no-repeat;
    background-position: 0 -9px;
}
.higgs-dialog .header .button.close.hover
{
    background-color: #e04343;
}
.higgs-dialog .content
{
    position: relative;
    display: none;
    padding: 40px 65px;
    background: #fff;
    overflow: auto;
}
.higgs-dialog .content legend
{
    height: 40px;
    margin: 0 !important;
    color: #003399;
    line-height: 40px;
    font-size: 17px;
    white-space: nowrap;
}
/* IE7-only style */
*:first-child+html .higgs-dialog .content legend
{
    left: -7px;
}
.higgs-dialog .content > p
{
    margin: 15px;
}
/* TODO: create lite theme for this */
.higgs-dialog .splash-screen
{
    display: none;
}
.higgs-dialog .saving-indicator
{
    display: none;
}