<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAmwcFnVoBc0G40c1DeqoC7QAAAAACAAAAAAAQZgAAAAEAACAAAAD5bZ1fZRLR0l4rlKys8ZpzG9ESTw9TgZelfDPOpL3T7QAAAAAOgAAAAAIAACAAAACXeDf77cutn8avsCIn36QiALZ/Jnc0PnlpNEMjEfZC4DAAAAD93T4+B8GF11n7r84aMqfeoYucKKD800SlUhykWORO3QSnT/l6s5bnWgkJ4vPl1XpAAAAAEemxGIIyei0geQdhjsLv8obt5DhPyjtXtQg4BcsFr5Ka/ef9W0A5CMMXf5n7aHxj/ZLR95dhtsV1E24yAyqT6g==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAmwcFnVoBc0G40c1DeqoC7QAAAAACAAAAAAAQZgAAAAEAACAAAABOeza9rWcfeNDrhM9V6/uTCflDdtXfxRSnPtDhupqTGgAAAAAOgAAAAAIAACAAAABLyJbHbFayKX8D/JZTBEHbsjuv2GSiVIlmN/RcqG13dDAAAACzgrcxgjE2HPDfdflA6Se81bvodS/fOIovbvZGee6t+ARKtT4BaXGVGg5nqed1XGBAAAAAZMLfgG8EWNdT8zBEXxysCKYcAVo6I0XHFWjAKc3SvaOgK3SPKiqj3m8hLwNgENZW373sGLJWt56jjM4T6M7z3g==" />
  </apikeys>
</configuration>